<% if item.errors.any? %>
  <div class='row alert alert-error'>
    <p>Please fix the listed errors:</p>
    <ul>
      <% item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>