<div class='footer'>
  Family Owned, Honest, Dependable, and Meticulous
  <%= link_to(login_path, class: 'btn btn-icon') do %>
      <i class='glyphicon glyphicon-asterisk glyphicon-white' ></i>
    <% end %>
  Servicing All of Northern New Jersey and Beyond
</div>